.full-width-table {
  width: 100%;
  overflow: visible;
}

th{
  background-color: #016B85 !important; 
  color: #ffffff; 
}

td {
  position: relative; /* para dropdown funcionar corretamente dentro da célula */
  overflow: visible;
}

.actions{
  /*width: 15%;*/
}
